<footer class="footer" role="contentinfo" id="footer">
  <div class="footer__acknowledgement">
    <div class="container">
      <span class="footer__badge">Supported by KPC Foundation</span>
    </div>
  </div>

  <div class="footer__main">
    <div class="container">
      <div class="footer__grid">
        <div class="footer__col footer__col--brand">
          <div class="footer__brand-logo">
            <img
              src="assets/logos/idl-logo.jpeg"
              alt="Inuka Digital Leap"
              class="footer__logo-img"
            />
          </div>
          <h3 class="footer__title">{{ siteName }}</h3>
          <p class="footer__tagline">{{ tagline }}</p>
          <div class="footer__social">
            <a href="https://x.com/JHUBAfrica" class="footer__social-link" aria-label="Twitter/X">
              <span class="pi pi-twitter" aria-hidden="true"></span>
            </a>
            <a href="https://www.linkedin.com/company/jhubafrica/" class="footer__social-link" aria-label="LinkedIn">
              <span class="pi pi-linkedin" aria-hidden="true"></span>
            </a>
            <a href="https://www.youtube.com/@JHUB-Africa" class="footer__social-link" aria-label="YouTube">
              <span class="pi pi-youtube" aria-hidden="true"></span>
            </a>
            <a href="https://www.instagram.com/jhubafrica/" class="footer__social-link" aria-label="Instagram">
              <span class="pi pi-instagram" aria-hidden="true"></span>
            </a>
            <a href="https://www.tiktok.com/@jhubafrica" class="footer__social-link" aria-label="TikTok">
              <span class="pi pi-tiktok" aria-hidden="true"></span>
            </a>
            <a href="https://www.facebook.com/JHUBAfrica" class="footer__social-link" aria-label="Facebook">
              <span class="pi pi-facebook" aria-hidden="true"></span>
            </a>
          </div>
        </div>

        <div class="footer__col">
          <h4 class="footer__heading">Quick Links</h4>
          <div class="footer__links-columns">
            <ul class="footer__links">
              @for (link of quickLinksCol1; track link.label) {
                <li>
                  <a class="footer__link" [href]="'#' + link.fragment">{{ link.label }}</a>
                </li>
              }
            </ul>
            <ul class="footer__links">
              @for (link of quickLinksCol2; track link.label) {
                <li>
                  <a class="footer__link" [href]="'#' + link.fragment">{{ link.label }}</a>
                </li>
              }
            </ul>
          </div>
        </div>

        <div class="footer__col">
          <h4 class="footer__heading">Contact</h4>
          <ul class="footer__contact">
            <li class="footer__contact-item">
              <span class="pi pi-map-marker" aria-hidden="true"></span>
              <span>JKUAT, Juja, Kenya</span>
            </li>
            <li class="footer__contact-item">
              <span class="pi pi-envelope" aria-hidden="true"></span>
              <span> info.jhub@jkuat.ac.ke</span>
            </li>
            <li class="footer__contact-item">
              <span class="pi pi-phone" aria-hidden="true"></span>
              <span> 0116-900-601 </span>
            </li>
          </ul>
        </div>

        <div class="footer__col footer__col--partners">
          <h4 class="footer__heading">Our Partners</h4>
          <div class="footer__logos">
            @for (partner of partners; track partner.name) {
              <div class="footer__logo-wrapper">





                <img
                  [src]="partner.logo"
                  [alt]="partner.alt"
                  class="footer__logo"
                  loading="lazy"
                />
                <span class="footer__logo-name">{{ partner.fullName }}</span>
              </div>
            }
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <p class="footer__copyright">
          &copy; {{ currentYear }} {{ siteName }}. All rights reserved.
        </p>
        <div class="footer__bottom-links">
          <a href="https://docs.google.com/document/d/1KBEDdzgzJ4wR1QrZ3gQ41SkGSSqe7Ntn/edit?usp=sharing&ouid=105931016238528157837&rtpof=true&sd=true" class="footer__bottom-link">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
